<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chatrooms</title>
<link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('nav.ejs') %>

        <h4>Chats</h4>
        <div class="white-bg">
            <% if (chatrooms && chatrooms.length> 0) { %>
                <% chatrooms.forEach(chatroom=> { %>
                    <div class="list-box">
                        <h4>
                            <a href="/chat/detail/<%= chatroom._id %>">
                                Chat for Post: <%= chatroom.postTitle %>
                            </a>
                        </h4>
                        <p>Created on: <%= new Date(chatroom.date).toLocaleString() %>
                        </p>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>No chatrooms found.</p>
                            <% } %>
        </div>
</body>

</html>